*.xlsx
*.sqlite3
*.csv
*.env
migrations
# settings.py
logs.log
chromedir
google-chrome-stable_current_amd64.deb

env
*.pyc
__pycache__
!final_companies.xlsx
!finalProds.xlsx
!quote.xlsx
!sample_excel.xlsx
